*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
}

img{
    max-width: 100%;
    max-height: 100%;
}
a{
    text-decoration: inherit;
    color: inherit;
}

.header{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
    transition: .3s;
    margin-bottom: 60px;
}

.header.shrink{
    box-shadow: 0 5px 5px #0001;
    background: rgba(255, 255, 255, 0.742);
    color: black;
    backdrop-filter: blur(10px);
}

.header.shrink .navbar{
    height: 80px;
}

.header hr{
    height: 2px;
    background: #e6e6e6;
    border: none;
}

.navbar{
    height: 90px;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: .3s;
}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.logo{
    flex: 1;
}

/* hero qismi */

.h_spoiler{
    color: #999;
    font-size: 10px;
    margin-bottom: 18px;
}

.h_title{
    font-size: 36px;
    margin-bottom: 27px;
    font-weight: 400;
    transform: uppercase;
}


.h_desc{
    font-size: 16px;
    color: #666;
    margin-bottom: 28px;
}

.introducion{
    font-size: 10px;
    transform: uppercase;
}

.hero_wrapper{
    display: flex;
    gap: 1px;
}

.h_img{
    width: 50%;
}

.hero_context{
    width: 50%;
    padding: 5px 50px;
}

.hero{
    margin-bottom: 35px;
}


/* Cards qismi */

.c_title{
    font-weight: 400;
    font-size: 20px;
    transform: uppercase;
    margin-bottom: 15px;
}

.card{
    padding: 26px 10px;
    width: 33.33%;
}

.card img{
    margin-bottom: 19px;
}

.c_wrapper{
    display: flex;
    flex-wrap: wrap;
}


.line{
    height: 2px;
    background: #e6e6e6;
    border: none;
    margin: 65px 10px 90px;
}

/* Posts qismi */

.p_wraper{
    display: flex;
    flex-wrap: wrap;
}

.p_card{
    padding: 26px 10px;
    width: 25%;
}

.p_card img{
    margin-bottom: 20px;
}

.p_btn{
    font-weight: 400;
    font-size: 10px;
    margin: 64px auto 90px;
    padding: 21px 26px;
    display: flex;
    align-items: center;
    background: transparent;
    cursor: pointer;
    transition: .4s;
}

.p_btn:hover{
    background: #f6f6f6;
    scale: 1.1;
}

.second_line{
    height: 2px;
    background: #e6e6e6;
    border: none;
    margin-bottom: 90px;
}

/* featured posts qismi */

.f_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.f_card{
    padding: 25px 10px;
    width: 50%;
}

.f_spoiler_title{
    color: #999;
    font-size: 10px;
    margin-bottom: 18px;
}
/* tepaga knopka*/

.top{
    width: 60px;
    height: 60px;
    background: #999;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    transform: rotate(90deg);
    transition: .3s;
}
.top.hidden{
    bottom: -60px;
}


/* ......................................................................................................... */


/* Tablets */
@media (max-width: 800px){
    .hero_wrapper{
        flex-direction: column;
    }

    .h_img{
        width: 100%;
    }
    .hero_context{
        width: 100%;
        padding: 5px;
    }
    .card{
        width: 50%;
    }
    .p_card{
        width: 33.33%;
    }
    .c_title{
        font-size: 12px;
    }
    .h_title{
        font-size: 20px;
    }
    .top{
        width: 50px;
        height: 50px;
        font-size: 20px;
        bottom: 30px;
        right: 30px;
    }

}
/* Phones */
@media (max-width: 500px) {
    .container{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .navbar ul{
        display: none;
    }

    .navbar .logo{
        font-size: 20px;
    }

    .logo{
        text-align: center;
        justify-content: center;
    }

    .hero_wrapper{
        flex-direction: column;
    }

    .hero_context{
        font-size: 16px;
        text-align: center;
        padding: 5px;
    }

    .h_title{
        font-size: 18px;
    }

    .h_desc{
        font-size: 12px;
    }

    .card{
        width: 100%;
    }

    .c_title{
        font-size: 12px;
    }

    .p_card{
        width: 50%;
    }

    .p_card h2{
        font-size: 8px;
    }

    .p_btn{
        padding: 8px 12px;
    }

    .f_card{
        width: 100%;
    }

    .top{
        width: 30px;
        height: 30px;
        font-size: 10px;
        bottom: 20px;
        right: 20px;
    }

    .top.hidden{
        bottom: -30px;
    }
}


